.client-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.client-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    background-color: var(--main-light-color);
    color: #afb1b8;
    width: 170px;
    height: 92px;
    transition: color var(--trnsition-dur-and-func), border var(--trnsition-dur-and-func);

    &:hover,
    &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }
}


.client-logo {
    fill: currentColor;
}

