.labor-section {
    padding-bottom: 94px;
}

.examples-list-img-wrapper {
    position: relative;
}


.overlay-examples {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--main-light-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;

}

.examples {
    display: flex;
    gap: 30px;
}